# Example ENV file for Testnet in a Box
RPC_URL=http://127.0.0.1:8545
DEPLOYER_PRIVATE_KEY=enter private key for deploying contracts
FAUCET_PRIVATE_KEY=enter private key for faucet
ERC20_TOKEN_ADDRESS=enter AXX token address after deployment
ERC20_DECIMALS=18
FAUCET_AMOUNT_ETH=1
FAUCET_AMOUNT_ERC20=1000
CHAIN_ID=86137
FAUCET_URL=http://127.0.0.1:8081
BASIC_AUTH=admin:password
